<!DOCTYPE html>
<html lang='en'>
<head>
<title>{% block title %}{% endblock %} - Dropmire</title>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include "_header.html" %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
{% include "_footer.html" %}
</body>
</html>
