{% extends "_master.html" %}

{% block title %}Home{% endblock %}
{% block content %}

<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/index.css') }}">
<div class=index>
<a>

<h3>Tenants</h3>
{% for p in data|sort %}
<p class="domain"><h2>{{ p }}</h2>

<div class="main_email">managed by {{ data[p].email }}</div>

{% for d in data[p].subdomains %}
{% if loop.first %}
<ul>Subdomains:
{% endif %}
<li>{{ d.domain }} managed by {{ d.email }}</li>

{% if loop.last %}
</ul>
{% endif %}
{% endfor %}
</p>
{% endfor %}
{% endblock %}

</a>
</div>
